@charset "utf-8";
@import url(../mods/reset.css);
@import url(../mods/scene.css);

/* for sight */
body{background-color: #ededed; font-size: 12px;}
.scene-left{position: absolute; width: 100%;height: 50%;top: 0; overflow: hidden; }
.scene-right{position: absolute; width: 100%;height: 50%;top: 50%; overflow: hidden;}
