<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<!-- IE10 and IE11 on Windows Phone have a small tap highlight when you tap an element. Adding this meta tag removes this. -->
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="css/page/index.css" />
<script src="/socket.io/socket.io.js"></script>
<title>控制台</title>
</head>
<body>
<div class="backstage">
	<div class="backstage-left">
		<div class="scene-cont">
			<div class="scene-box">
				<div class="vrscene" type="front"></div>
			</div>
		</div>
		<div class="scene-info">
			<h3>场景信息</h3>
			<div class="info-list" id="info-list">

			</div>
		</div>
	</div>
	<div class="backstage-right">
		<div class="info-box">
			<h3>选中物体的名称</h3>
			<div class="info-list">
				<p>将选中物体的信息输出到这里，用p标签分隔</p>
				<p>将选中物体的信息输出到这里，用p标签分隔</p>
				<p>将选中物体的信息输出到这里，用p标签分隔</p>
				<p>将选中物体的信息输出到这里，用p标签分隔</p>
			</div>
		</div>
		<div class="ctrl-box">
			<h3>操作</h3>
			<div class="ctrl-list">
				<div class="ctrl-panel">
					对物体可能有多个操作属性，界面用 div.ctrl-panel 分隔
				</div>
				<div class="ctrl-panel">
					对物体可能有多个操作属性，界面用 div.ctrl-panel 分隔
				</div>
				<div class="ctrl-panel">
					对物体可能有多个操作属性，界面用 div.ctrl-panel 分隔
				</div>
			</div>
		</div>
	</div>
</div>
<script src="js/lithe.js" data-config="/config.js"></script>
<script>
lithe.use('conf/page/index');
</script>
</body>
</html>
