<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- IE10 and IE11 on Windows Phone have a small tap highlight when you tap an element. Adding this meta tag removes this. -->
<meta name="msapplication-tap-highlight" content="no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" type="text/css" href="css/page/touch.css" />
<script src="/socket.io/socket.io.js"></script>
<title>触控板</title> 
</head>
<body>
<div class="touch-pad" id="touch-pad">

</div>
<script src="js/lithe.js" data-config="/config.js"></script>
<script>
lithe.use('conf/page/touch');
</script>
</body>
</html>
