@charset "utf-8";

.thb-container {
    position: relative;
    width: 490px;
    height: 100px;
}
.thb-container .thb-wrapper{
    position: absolute;
    width: 490px;
    height: 100px;
    -webkit-perspective-origin: 50% 50%;
    -webkit-transform-style : preserve-3d;
    -webkit-perspective: 1000px;
}

.thb-container .thb-image {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: cover;
    -webkit-transition:0.5s ease-in;
    border : 1px solid #000;
    background-color: #fff;
}
.thb-container .prev4{opacity: 0; -webkit-transform:translateX(-230px) translateZ(-200px) rotateY(60deg);}
.thb-container .prev3{opacity: 0.3; -webkit-transform:translateX(-220px) translateZ(-200px) rotateY(60deg);}
.thb-container .prev2{opacity: 1; -webkit-transform:translateX(-210px) translateZ(-200px) rotateY(60deg);}
.thb-container .prev1{opacity: 1; -webkit-transform:translateX(-200px) translateZ(-200px) rotateY(60deg);}
.thb-container .prev0{opacity: 1; -webkit-transform:translateX(-100px) translateZ(-100px) rotateY(45deg);}
.thb-container .cur{opacity: 1; -webkit-transform:translateX(0) translateZ(0) rotateY(-0);}
.thb-container .next0{opacity: 1; -webkit-transform:translateX(100px) translateZ(-100px) rotateY(-45deg);}
.thb-container .next1{opacity: 1; -webkit-transform:translateX(200px) translateZ(-200px) rotateY(-60deg);}
.thb-container .next2{opacity: 1; -webkit-transform:translateX(210px) translateZ(-200px) rotateY(-60deg);}
.thb-container .next3{opacity: 0.3; -webkit-transform:translateX(220px) translateZ(-200px) rotateY(-60deg);}
.thb-container .next4{opacity: 0; -webkit-transform:translateX(230px) translateZ(-200px) rotateY(-60deg);}

/****** font icon stuff ******/
@font-face {
    font-family: 'juicebox';
    src:url('../fonts/juicebox.eot');
    src:url('../fonts/juicebox.eot?#iefix') format('embedded-opentype'),
    url('../fonts/juicebox.woff') format('woff'),
    url('../fonts/juicebox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Icon Font Ids */
.thb-container .thb-icons{
    font-family: 'juicebox';
    cursor: pointer;
    display: block;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;

}
.thb-container .thb-icons.previous, .thb-container .thb-icons.next{
    position: absolute;
    border-radius: 10px;
    font-size:20px;
    background-color: rgba(111, 111, 111, .8);
    color: rgba(255, 255, 255, .8);
    top:40px;
}
.thb-container .thb-icons.previous{
    left: 0;
}
.thb-container .thb-icons.next{
    right: 0;
}
.thb-container .thb-icons.previous:hover, .thb-container .thb-icons.next:hover{
    background-color: rgba(0, 0, 0, .8);
}
.thb-container .thb-icons.previous:before{
    content: "\e000";
}
.thb-container .thb-icons.next:before{
    content: "\e001";
}
