@charset "utf-8";
.thumbnail-container {

}

.thumbnail-container .show-area {

}

.thumbnail-container .show-area li {
    float: left;
    margin: 5px;
}

.thumbnail-container .show-area li:hover {
    float: left;
    margin: 5px;
}