@charset "utf-8";

/* vr scene */
.vrscene{position: relative; width: 100%; height: 100%; background: #fff;overflow: hidden;}
.box-cs{width: 0; height: 0; position: absolute;left: 50%; top: 50%; -webkit-transform-origin: 50% 50%; -webkit-transform-style: preserve-3d; -webkit-transform: rotateX(180deg) rotateZ(180deg); background-color: #fff; }
.box-cs .axis{width: 100px;height: 4px;position: absolute;top: 50%;left: 50%;margin-left: -50px;margin-top: -2px;-webkit-transform-origin:50% 50%;-webkit-transform-style:preserve-3d;}
.box-cs .axis::before{position: absolute; width: 100%; height: 100%; -webkit-transform-origin:50% 50%; -webkit-transform-style:preserve-3d; -webkit-transform:rotateX(90deg); content:" "; }
.box-cs .axis .direction{position: absolute; width: 20px; height: 20px; top:50%; right:5%; margin-top: -14px; -webkit-transform-origin:50% 50%; -webkit-transform-style:preserve-3d; border-radius: 50%; border-width: 4px; border-style: solid; border-color: #000; border-left-color: rgba(0,0,0,0); }
.box-cs .axis .direction::before{position: absolute; width: 0; height: 0; border-color: rgba(0,0,0,0); border-style: solid; border-bottom-color: #000; border-bottom-width: 12px; border-left-width: 8px; border-right-width: 8px; content: " "; -webkit-transform: translateX(-10px) translateY(7px) rotate(-45deg); }
.box-cs .axis .direction::after{position: absolute; font-weight: bold; width:30px; -webkit-transform-origin:50% 50%; }
.box-cs .ax{background-color: rgba(255,100,100,0.5);}
.box-cs .ax::before{background-color: rgba(255,100,100,0.5); }
.box-cs .ax .direction{-webkit-transform:rotateY(-90deg) rotateZ(180deg); }
.box-cs .ax .direction::before{}
.box-cs .ax .direction::after{content : "X/β"; -webkit-transform: translateX(-20px) translateY(-5px) translateZ(-20px) rotateX(90deg) rotateZ(-90deg); }
.box-cs .ay{-webkit-transform:rotateZ(90deg); background-color: rgba(100,255,100,0.5); }
.box-cs .ay::before{background-color: rgba(100,255,100,0.5); }
.box-cs .ay .direction{-webkit-transform:rotateY(90deg); }
.box-cs .ay .direction::before{-webkit-transform: translateX(-9px) translateY(-8px) rotate(0deg); }
.box-cs .ay .direction::after{content : "Y/γ"; -webkit-transform: translateX(-25px) translateY(20px) translateZ(15px) rotateZ(-90deg); }
.box-cs .az{-webkit-transform:rotateY(-90deg); background-color: rgba(100,100,255,0.5); }
.box-cs .az::before{background-color: rgba(100,100,255,0.5); }
.box-cs .az .direction{-webkit-transform:rotateY(90deg); }
.box-cs .az .direction::before{}
.box-cs .az .direction::after{content : "Z/α"; -webkit-transform: translateX(-30px) translateZ(15px) rotateX(-90deg); }

